@font-face {
  font-family: "nexabold";
  src: url("assets/fonts/nexabold/NexaBold.otf") format("opentype");
}

@font-face {
  font-family: "Nexa Light";
  src: url("assets/fonts/nexa/Nexa Light.otf") format("opentype");
}

@font-face {
  font-family: "Questrial";
  src: url("assets/fonts/questrial/Questrial-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "newsreader";
  src: url("assets/fonts/newsreader/Newsreader-VariableFont_opsz,wght.ttf") format("truetype");
}

:root {
  --main-background-color: #f4f6f8;
  --main-font-color: white;
  --back-title-color: #dfe3e8;
  --back-color-list-container: #274443;
  --nav-list-items-color: rgba(255, 255, 255, 0.92);
}

html {
  font-size: 62.5%;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
}

h1,
h2,
h3,
p {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

a {
  text-decoration: none;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url("assets/img/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--main-font-color);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  align-items: start;
  position: relative;
}

.hero {
  height: 100%;
  grid-column: 2 / 8;
  grid-row: 2 / 8;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hero-subtitle {
  font-family: "newsreader";
  font-size: 3rem;
}

.hero-title {
  font-family: "nexabold";
  font-size: 10rem;
  width: 100px;
  line-height: 13rem;
  margin-bottom: 2rem;
}

.hero-description {
  font-family: "newsreader";
  font-size: 4rem;
}

.hero-description > strong {
  font-family: "nexabold";
}

.hero-social-links {
  font-family: "newsreader";
  font-size: 2rem;
  display: flex;
  gap: 1rem;
}

.hero-social-links-item {
  letter-spacing: 0.6vh;
  color: #212b36;
  font-family: "Nexa Light", sans-serif;
  text-transform: uppercase;
}

.hero-social-links-item a {
  text-decoration: none;
  color: var(--main-font-color);
  cursor: pointer;
  transition: 0.1s ease-out;
}

.hero-social-links-item a:hover {
  font-weight: bold;
}

.profile-picture {
  width: 25rem;
  height: 30rem;
  position: absolute;
  right: 15%;
  top: 20%;
  background-image: url("assets/img/profile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
